
#topHeader{

  background-color: ghostwhite;
  border-bottom: 1px solid silver;

}

#topHeader a{

   color:#2c3e50;
   font-weight: 600;
   font-size: 1rem;

}

#tp_header{

  text-align: right;
}

.container-fluid{

  padding-left:0;
  padding-right: 0;

}

#navbarToggler,
.nav-item{

  font-size: 1rem;
  font-weight: 600;

}

.dropdown-item{

  color:silver;
  font-weight: 600;
}

/*end of the top header */

/*Start of footer*/


.full-footer{

    background-color:#34495e ;
    

}
.full-footer,
.col-md-3,a{

  color: ghostwhite;
}

.btm_footer{

  color: ghostwhite;
  font-weight: 600;


}

/*End of the  top footer*/

/*Start of the Bottom Footer*/

.bottom-footer{

background-color:#2c3e50 ;

}

.bottom-footer p{

  color: ghostwhite;
}


.details{

  color: ghostwhite;
  font-size: 14px;
  font-weight: 600;
}
/*The end of the bottom footer*/

/*start of section do*/
.do-section{

  background-color:#4834d4;
  color: ghostwhite;
}

.quality-img{

  width: 150px;

  
}

/*rquirement quiz from third section of do homepage*/

.requirement-quiz{

  background-color: #5352ed;
}

.requirement-quiz .text-center{

  color: ghostwhite;
  font-weight: 600;

}
/*end rquirement quiz from third section of do homepage*/

/*start of Newslettter section */

.newsletter{

  background-color:#5352ed;
  color: ghostwhite;
}

.newsletter .form-control{

   height: 50px;
   border-color: transparent;
   border-radius: 20px 0 0 20px;


}
.newsletter .btn{

  height: 50px;
  border-color: transparent;
  border-radius: 0 20px 20px 0;
  background-color: #747d8c;
  font-weight: 600;
  color:ghostwhite;
  

}


/*end ofNewslettter  section */